@{
    ViewBag.Title = "About";
}
<section class="section">
    <div class="row column">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>
        <p>Use this area to provide additional information.</p>
    </div>
</section>
