<section class="section section-size1">
     <div class="row column">
        <hr/>
        <footer>
            <small>&copy; @DateTime.Now.Year - Michael's Music | All Rights Reserved</small>
        </footer>
    </div>
</section>

