<!-- Start Top Bar -->
<div class="top-bar">
    <div class="row">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">
                    @Html.ActionLink("Michael's Music", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
                </li>
                <li class="has-submenu">
                    <a href="#">Guitars</a>
                    <ul class="submenu menu vertical" data-submenu>
                        <li><a href="#">All Guitars</a></li>
                        <li><a href="#">My Guitars</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#">Amps</a>
                    <ul class="submenu menu vertical" data-submenu>
                        <li><a href="#">All Amps</a></li>
                        <li><a href="#">My Amps</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#">Pedals</a>
                    <ul class="submenu menu vertical" data-submenu>
                        <li><a href="#">All Pedals</a></li>
                        <li><a href="#">My Pedals</a></li>
                    </ul>
                </li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><input type="search" placeholder="Search"></li>
                <li><button type="button" class="button">Search</button></li>
            </ul>
        </div>
    </div>
</div>
<!-- End Top Bar -->
