<header class="main-header">
    <div class="row">
        <div class="column">
            <ul class="menu">
                <li class="mobile-expand" id="mobile-expand">
                    <a href="#">
                        <i class="fa fa-align-justify"></i>
                    </a>
                </li>
                <li class="branding">@Html.ActionLink("Michael's Music", "Index", "Home")</li>
                <li class="has-submenu">
                    <a href="#">Guitars</a>
                    <ul class="submenu" data-submenu>
                        <li><a href="/guitars/">All Guitars</a></li>
                        <li><a href="#">Guitars by Brand</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#">Amps</a>
                    <ul class="submenu" data-submenu>
                        <li><a href="#">All Amps</a></li>
                        <li><a href="#">Amps by Brand</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#">Pedals</a>
                    <ul class="submenu" data-submenu>
                        <li><a href="#">All Pedals</a></li>
                        <li><a href="#">Pedals by Brand</a></li>
                    </ul>
                </li>
                <li>
                    @Html.ActionLink("About", "About", "Home")
                </li>
            </ul>
        </div>
    </div>
</header>