<header class="main-header">
    <div class="row">
        <div class="column">
            <ul class="menu">
                <li class="mobile-expand" id="mobile-expand">
                    <a href="#">
                        <i class="fa fa-align-justify"></i>
                    </a>
                </li>
                <li class="branding">@Html.ActionLink("Michael's Music", "Index", "Home")</li>
                <li> 
                    <a href="/guitars/">Guitars</a>
                </li>
                <li>
                    <a href="#">Amps</a>
                </li>
                <li>
                    <a href="#">Pedals</a>
                </li>
                <li>
                    @Html.ActionLink("About", "About", "Home")
                </li>
            </ul>
        </div>
    </div>
</header>