@import '../variables.d.scss';

dl {
    width: 100%;
    background: $white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;

    dt {
        width: 35%;
        float: left;
        clear: both;
        color: $black;
        margin: 0;
        padding: $size1 ($size1 / 2) $size1 0;
        border-top: 1px solid $gray;
        box-sizing: border-box;

        &:first-child {
            border: none;
        }
    }

    dd {
        width: 65%;
        float: left;
        color: $navy;
        margin: 0;
        padding: $size1 ($size1 / 2) $size1 0;
        border-top: 1px solid $gray;
        box-sizing: border-box;

        &:nth-child(2) {
            border: none;
        }
    }
}

/* Medium and up */
@media screen and (min-width: $mediumScreenMinWidth) {

}

/* Large and up */
@media screen and (min-width: $largeScreenMinWidth) {

}