@import '../variables.d.scss';

.row {
    padding: 0;

    &.row-size1 {
        padding-top: $size1;
        padding-bottom: $size1;
    }

    &.row-size2 {
        padding-top: $size2;
        padding-bottom: $size2;
    }

    &.row-size3 {
        padding-top: $size3;
        padding-bottom: $size3;
    }

    &.row-size4 {
        padding-top: $size4;
        padding-bottom: $size4;
    }

    &.row-size5 {
        padding-top: $size5;
        padding-bottom: $size5;
    }

    &.row-size6 {
        padding-top: $size6;
        padding-bottom: $size6;
    }
}