@import "../variables.d.scss";
.section {
    padding: $size3 10px;

    &.section-size0 {
        padding-top: 0;
        padding-bottom: 0;
    }

    &.section-size1 {
        padding-top: $size1;
        padding-bottom: $size1;
    }
   
    &.section-size2 {
        padding-top: $size2;
        padding-bottom: $size2;
    }

    &.section-size3 {
        padding-top: $size3;
        padding-bottom: $size3;
    }

    &.section-size4 {
        padding-top: $size4;
        padding-bottom: $size4;
    }

    &.section-size5 {
        padding-top: $size5;
        padding-bottom: $size5;
    }

    &.section-size6 {
        padding-top: $size6;
        padding-bottom: $size6;
    }
}