// Sizing
$size1: 12px;
$size2: 24px;
$size3: 36px;
$size4: 48px;
$size5: 60px;
$size6: 72px;

// Media Query Breakpoints
$smallScreenMaxWidth: 39.9375em;
$mediumScreenMinWidth: 40em;
$mediumScreenMaxWidth: 63.9375em;
$largeScreenMinWidth: 64em;
$largeScreenMaxWidth: 74.9375em;
$xLargeScreenMinWidth: 75em;

// Fonts
$fontFamily: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;

// Colors
$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;
$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;
$white:  #FFFFFF;
$offWhite: #EEEEEE;
$silver: #DDDDDD;
$gray:   #AAAAAA;
$black:  #111111;