@model MichaelsMusic.Models.GuitarCollection
@{
    ViewBag.Title = "Guitars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section section-size1">
    <div class="row">
        <div class="twelve columns">
            <h2>Guitars</h2>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
             <ul class="item-collection">
                @foreach (var guitar in Model.Guitars)
                {
                    <li>
                        <img src=@($"/images/guitars/{guitar.Thumbnail}") alt=""/>
                        <h5>@guitar.DisplayName</h5>
                        <p>@guitar.ShortDescription</p>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>
