@import '../variables.d.scss';

.container {
    padding: $size1;
    border-radius: 3px;
    margin-bottom: $size3;
}

.item-collection {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        border-bottom: 1px solid $gray;
        margin-bottom: $size2;
        padding-bottom: $size1;

        &:last-child {
            border: none;
        }

        p {
            margin-bottom: 0.33em;
        }

        img {
            float: right;
            margin: 0 0 7px 7px;
        }
    }

    .title {
        font-size: 1.125em;
        font-weight: bold;
    }
}

/*
 * Media Queries
 */

/* Medium and up */
@media screen and (min-width: $mediumScreenMinWidth) {
    .item-collection {
        li {
            display: inline-block;
            float: left;
            width: 25%;
            margin: 0 2% 20px 0;
            padding: 20px 20px 25px;
            border: 1px solid $gray;
            border-radius: 6px;
            text-align: center;

            &:last-child {
                margin-right: 0;
                border: 1px solid $gray;
            }

            img {
                float: none;
                display: block;
                margin: 15px auto;
            }
        }
    }
}

/* Large and up */
@media screen and (min-width: $largeScreenMinWidth) {
    .item-collection {
        li {
            width: 20%;
        }
    }
}

/* X-Large */
@media screen and (min-width: $xLargeScreenMinWidth) {

}