@import '../variables.d.scss';

.stats-container {
    margin-bottom: $size3;
    padding: $size1;
    border-radius: 3px;
}

.images-container {
    float: none;
    margin: 0 0 $size2;
}

.video-container {
    margin-bottom: $size2;

    iframe {
        width: auto;
        height: auto;
    }
}

/*
 * Media Queries
 */

/* Medium and up */
@media screen and (min-width: $mediumScreenMinWidth) {
    .stats-container {
        margin-bottom: 0;
    }

    .images-container {
        max-width: 250px;
        float: right;
        margin: 0 $size1 $size2 $size2;
    }

    .video-container iframe {
        width: 560px;
        max-width: 100%;
        height: 315px;
    }
}

/* Large and up */
@media screen and (min-width: $largeScreenMinWidth) {
    .details-content {
        width: 66%;
    }

    .images-container {
        margin: 0 10% $size6 10%;
    }
}