@import '../variables.d.scss';

.main-header {
    background: $black;
    color: $white;

    .menu {
        list-style: none;
        margin: 0;
        padding: 10px 10px 0;

        li {
            display: none;

            &.branding {
                display: inline;
                width: 80%;
            }

            &.mobile-expand {
                display: inline;
                float: right;

                a {
                    color: $white;

                    &:hover {
                        color: $white;
                        text-decoration: none;
                    }
                }
            }

            &.has-submenu {
                margin-top: 10px;

                .submenu {
                    margin-top: 0;
                }
            }
        }
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }
}

/*
 * Media Queries
 */

/* Medium and up */
@media screen and (min-width: $mediumScreenMinWidth) {
    .main-header {
        height: 44px;

        .menu {
            padding: 12px 15px 15px;

            li {
                display: inline;
                float: left;
                margin-right: 3em;

                &.branding {
                    width: auto;
                    border-right: 1px solid $aqua;
                    padding-right: 3em;
                }

                &.has-submenu {
                    position: relative;
                    margin-top: 0;

                    a {
                        &:after {
                            content: '';
                            width: 0; 
                            height: 0; 
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-top: 5px solid #1eaedb;
                            position: absolute;
                            top: 8px;
                            right: -15px;
                        }
                    }

                    .submenu {
                        display: none;
                        width: 325%;
                        background-color: $black;
                        position: absolute;
                        top: 32px;
                        left: 0;
                        margin: 0;
                        padding-top: 10px;

                        li {
                            display: block;
                            box-sizing: border-box;
                            width: 80%;
                            height: 30px;
                            float: none;
                            margin-left: 10%;
                            padding: 0;
                            border-bottom: 1px solid $gray;

                            &:last-child {
                                border: none;
                                margin-bottom: 0;
                            }

                            a {
                                &:after {
                                    border: none;
                                }
                            }
                        }
                    }
                }

                &.mobile-expand {
                    display: none;
                }
            }
        }
    }
}

/* Large and up */
@media screen and (min-width: $largeScreenMinWidth) {

}

/* X-Large */
@media screen and (min-width: $xLargeScreenMinWidth) {

}